[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "problems solutions in c++ "
[access "refs/*"]
	owner = group user/ELKAISSI SOUHAIL (souhailelk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ELKAISSI SOUHAIL (souhailelk)
	label-Verified = -1..+1 group user/ELKAISSI SOUHAIL (souhailelk)
	push = group user/ELKAISSI SOUHAIL (souhailelk)
	read = group user/ELKAISSI SOUHAIL (souhailelk)
	rebase = group user/ELKAISSI SOUHAIL (souhailelk)
	removeReviewer = group user/ELKAISSI SOUHAIL (souhailelk)
	submit = group user/ELKAISSI SOUHAIL (souhailelk)
[access "refs/heads/*"]
	create = group user/ELKAISSI SOUHAIL (souhailelk)
	push = +force group user/ELKAISSI SOUHAIL (souhailelk)
	pushMerge = group user/ELKAISSI SOUHAIL (souhailelk)
	read = group user/ELKAISSI SOUHAIL (souhailelk)
[access "refs/tags/*"]
	push = group user/ELKAISSI SOUHAIL (souhailelk)
	push = +force group user/ELKAISSI SOUHAIL (souhailelk)
